<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>nyy4gFUrxrRaage3bEY7IJqSX</string>
	<key>consumer_Secret</key>
	<string>9jOwB96kyON9AZpLwzFQl8nBNDHXZkVPDpwqkOxLbkqyMEJsyF</string>
</dict>
</plist>
